QTreeWidget::item{
background:red;
height:50px;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:!has-siblings{
border-image:none;
image:url(:/IMG/LeftMenu/LeftMenu_Dashboard.png);
background:red;
}

QTreeView::branch:has-children:!has-siblings:open,
QTreeView::branch:open:has-children:!has-siblings{
border-image:none;
image:url(:/IMG/LeftMenu/LeftMenu_Dashboard.png);
background:red;
}
