QFrame#frame{
background:rgb(190,190,190);
color:red;
border-radius:10px;
border-width:0px;
z-index:1;
}

QLabel#label_2{
border-radius:8px;
background:rgb(255,0,0);
}

QPushButton#pushButton_2{
color:white;
border:none;
border-top-right-radius:10px;
background:transparent;
}

QPushButton#pushButton{
border-radius:20px;
background:rgb(255,0,0);
}
